div{
    background-color: rgb(242, 189, 255);
    margin-bottom: 20px;
    border: 1px solid #000000;
    min-height: 200px ;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5) ;
}